/* FOR DISPLAY > 990px */
@media (min-width: 990px) {
  .containerFluidTestimony {
    padding: 0% 0%;
  }
  .testimonyCardContainer {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
  }
  .occ {
    margin-top: -15px;
    font-family: "Roboto", sans-serif;
    color: #303031;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
  }
  .chipContainer {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 8%;
    right: 1%;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    position: absolute;
    bottom: 10px;
  }
  .chipButton {
    margin: 0% 0%;
    width: 50%;
  }
  .chipDate {
    margin: 1% 0%;
    width: 50%;
  }
  .date {
    font-family: "Roboto", sans-serif;
    color: #303031;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    float: right;
  }
  .valueCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2% 2%;
    margin: 0% 1%;
    border-radius: 10px;
    text-align: center;
    height: 350px;
    width: 30%;
    position: relative;
  }
  .mk {
    background-color: #9d26ca;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    float: left;
  }
  .pk {
    background-color: #ffc739;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    float: left;
  }
  .hk {
    background-color: #54c06e;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    float: left;
  }
}

/* FOR DISPLAY < 990px */
@media (max-width: 990px) {
  .occ {
    margin-top: -12px;
    font-family: "Roboto", sans-serif;
    color: #303031;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.5;
  }
  .chipContainer {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .chipButton {
    display: flex;
    width: 50%;
    margin-left: 10px;
  }
  .chipDate {
    margin: 1% 0%;
    width: 50%;
    margin-right: 10px;
  }
  .date {
    font-family: "Roboto", sans-serif;
    color: #303031;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
    float: right;
    margin-top: 4%;
  }
  .valueCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2% 2%;
    margin: 3% 0%;
    border-radius: 10px;
    text-align: center;
    height: 305px;
    width: 75%;
    position: relative;
  }
  .mk {
    background-color: #9d26ca;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    float: left;
  }
  .pk {
    background-color: #ffc739;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    float: left;
  }
  .hk {
    background-color: #54c06e;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    float: left;
  }
}
