/* FOR DISPLAY > 990px */
img {
  /* disable right-click to save image*/
  pointer-events: none;
}

@media (min-width: 990px) {
  .containerFluid {
    padding: 1% 13%;
  }
  .dividerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .divider {
    text-align: center;
    width: 120%;
    height: auto;
  }
}

/* FOR DISPLAY < 990px */
@media (max-width: 990px) {
  .dividerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0%;
  }
  .divider {
    text-align: center;
    width: 100%;
    height: auto;
  }
}
